.chat{
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.chat-header{
    padding: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    
}

.chat-header-info{
    flex: 1;
    padding-left: 3%;
}

.chat-header-info > h3{
    font-size: large;
    margin-top: 2%;
    font-weight: 500;
}

.chat-body{
    height: 85%;
    flex: 1;
    overflow-y: scroll;
    padding: 30px;
    background-image: url('http://localhost:3000/chat-background.jpg');
    background-size: contain;
}

.chat-message{
    float:inline-start;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    width: fit-content;
    max-width: 70%;
    flex-grow: 100;
}

.chat-timestamp{
    margin-left: 10px;
    font-size: xx-small;
    display:inline-flex;
    color: #000;
    justify-content: end;
}

.chat-sender{
    margin-left: auto;
    background-color: #6da6b2;
}

.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

}

.chat-footer > form{
    flex: 1;
    display: flex;
}

.chat-footer > form > input{
    flex: 1;
    border-radius: 30px;
    border: none;
    padding: 10px;
    background-color: #ffffff;
}

.chat-footer > form > button{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.chat-footer  > button{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.chat-footer > form > button{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #39717c
}

.show{
    display: flex;
}

.dropdown-menu.show {
    display: flex;
  }

.text-message{
    max-width: 300px;
    word-break: break-all
}

.image-message{
    max-width: 150px;
    justify-content: end;
}

.video-message{
    max-width: 300px;
}

.record-message{
    max-width: 300px;
}