.sidebar-chat{
    display: flex;
    padding: 5%;
    cursor: pointer;
    border-bottom: 1px solid rgb(236, 232, 232);
}

.sidebar-chat:hover{
    background-color: #e0e0e0;
}

.sidebar-chat-info>h2{
    font-size: medium;
    margin-bottom: 4%;
}


.sidebar-chat-info>h3>small{
    padding-left: 25px;
    font-size: 8px;
    padding-top: 5px;
}

.sidebar-chat-info>h3{
    font-size: small;
}

.sidebar-chat-info{
    margin-left: 7%;
}
#info{
    font-size: small;
}
