.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
  form{
      background-color: rgb(237, 239, 231);
      padding: 0px 60px;
      border-radius: 10px;
      animation: transitionIn 0.75s;
      margin-top: 40px;
  }
  
  h1{
      color: rgb(85, 123, 131);
      text-align: center;
      font-weight: 700;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rgb(85, 123, 131);
      color: rgb(237, 239, 231);
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }


  @keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}